html, body, #app {
  width: 100%;
  height: 100%;
}
body {
  font: 13px/1 "Microsoft Yahei";
  // color: #76838f;
  color: #555;
}

@for $i from 12 through 20 {
  .font-#{$i} {
    font-size: 1px * $i;
  }
}

.pointer { cursor: pointer;}

.a-c { text-align: center;}

.inline-block { display: inline-block;}

.relative { position: relative;}.absolute { position: absolute;}

.bg-fa { background-color: #fafafa;}
.bg-eee { background-color: #eee;}
.bg-fff { background-color: #fff;}